body .ant-picker {
  @apply rounded-lg bg-pt-purple-darker text-white border-0 text-xs;
  border: 2px solid #291357;
}

body .ant-picker-input > input {
  @apply font-semibold text-xs;
}

body .ant-picker-input > input {
  @apply text-white text-opacity-50;
}

body .anticon svg {
  fill: rgb(17, 107, 204);
}

body .ant-picker-clear {
  display: none;
}

body .ant-picker:hover,
body .ant-picker-focused {
  border: 2px solid #35f0d0;
}
